{%-
  set resp = {

    'en': {
      'no user': "who's that?",
      "hidden": "seems he's hiding from NSA"
    },
    'ru': {
      'no user': 'а это еще кто?',
      'hidden': 'он зашифровался'
    }
  }
-%}

{%- if not user -%}

    {{ resp[request.view_args.lang]['no user'] }}

{%- elif info -%}

    {{ [info.name|default('[no name]', true),
        info.version|default('[no ver]', true),
        '@',
        info.os|default('[no os]', true)]|join(' ')
    }}

{%- else -%}

    {{ resp[request.view_args.lang]['hidden'] }}

{%- endif -%}
